.jumbotron h1{
    text-align:center;
	color:	#FFFFFF;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}
#text{
	color:black;
	font-size: 24px;
	
}
a{
	color: #2aa2a2;
   font-family: Montserrat, sans-serif;
   font-size: 25px;
	line-height: 2em;
}
